:root {
    --primary-color: #433E0E;
    --secondary-color: #A7A284;
    --tertiary-color: #7C9082;
    --bg-color: #EDEEC0;
    --text-color: #433E0E;
    --hover-color: #D0C88E;
    --font-weight: 500; 
}

body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1.6;
    color: var(--text-color);
    user-select: none;
}

body.noscroll {
    overflow: hidden;
}

h1, h2, h3, p, a, ul, li {
    user-select: none; 
}

h1 {
    color: var(--tertiary-color);
}

h2, h3 {
    color: var(--secondary-color);
}

/* links */
a {
    color: var(--secondary-color);
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

/* Nav Bar */
nav {
    background: var(--primary-color);
    padding: 1rem;
    position: sticky;
    top: 0;
    z-index: 1000;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

nav ul li {
    margin: 0 1rem;
}

nav ul li a {
    /* color: var(--bg-color); */
    color: #FFFF;
    font-weight: 500;
}

/* Header Section */
header {
    text-align: center;
    padding: 4rem 2rem;
    background: var(--bg-color);
}

header h1 {
    font-size: 2.5rem;
    margin-bottom: 0.5rem;
}

header p {
    font-size: 1.2rem;
    color: var(--secondary-color);
}

/* Sections */
section {
    padding: 2rem;
    max-width: 800px;
    margin: 0 auto;
}

section h2 {
    font-size: 2rem;
    margin-bottom: 1rem;
    border-bottom: 2px solid var(--tertiary-color);
    display: inline-block;
}

.experience-item, .education-item {
    /* cursor: pointer; */
    padding: 20px;
    margin: 10px 0;
    background: var(--bg-color);
    border-radius: 5px;
    transition: 0.3s;
}

.project-item {
    cursor: pointer;
    padding: 20px;
    margin: 10px 0;
    background: var(--bg-color);
    border-radius: 5px;
    transition: 0.3s;
}

.skills-section {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
}

.skill-bubble {
    background: var(--primary-color);
    color: var(--bg-color);
    padding: 10px 20px;
    border-radius: 20px;
    font-size: 1rem;
    display: inline-block;
    margin: 5px;
    transition: background 0.3s ease;
}

.skill-bubble:hover {
    background: var(--hover-color);
}

.project-item:hover, .experience-item:hover, .education-item:hover {
    background: var(--hover-color);
}

.date {
    color: var(--secondary-color);
    font-style: italic;
    margin-bottom: 0.5rem;
}

ul {
    list-style-type: disc;
    /* margin-left: 1.5rem;  */
}

/* Footer */
footer {
    text-align: center;
    padding: 1rem;
    background: var(--primary-color);
    color: var(--bg-color);
    margin-top: 2rem;
}

#popup-container {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8); 
    justify-content: center;
    align-items: center;
    opacity: 0;
    transform: translateY(100%);
    transition: opacity 0.3s ease, transform 0.3s ease;
    padding: 20px;
}

#popup-container.show {
    display: flex;
    opacity: 1;
    transform: translateY(0);
}

#popup-content {
    background: white;
    padding: 30px;
    border-radius: 8px;
    max-width: 50%;
    width: 100%;
    max-height: 90%;
    overflow-y: auto;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    position: relative;
}

#popup-details img {
    max-width: 100%;
    height: auto;
    padding-top: 40px; 
}

.image-view img {
    max-width: 100%;
    max-height: 90vh;
    width: auto;
    height: auto;
    padding-top: 40px; 
}

.image-stack {
    display: flex;
    overflow-x: auto;
    gap: 10px;
    margin-top: 20px;
}

.image-stack img {
    cursor: pointer;
    max-height: 100px;
    border-radius: 5px;
    transition: transform 0.3s ease;
}

.image-stack img:hover {
    transform: scale(1.1);
}

.button-container {
    position: absolute;
    top: 10px;
    right: 15px;
    display: flex;
    gap: 10px;
    z-index: 10; 
}

.close-btn, .back-btn {
    font-size: 24px;
    cursor: pointer;
}
